<br>
<div class="container">
    <div class="">
        <h1 class="text-center">Registro de Becas y Universidades</h1>
        <div class="d-flex justify-content-end">
            <button class="btn btn-primary" (click)="volverDashboard()">Dashboard</button>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <br>
            <label class="form-label">Seleccione una universidad</label>
            <select class="form-control" name="universidad" id="universidad" [(ngModel)]="universidadSeleccionada">
                <option [ngValue]="null">--Seleccione una universidad--</option>
                <option *ngFor="let uni of universidades$ | async" [ngValue]="uni">{{uni.nombre}}</option>
            </select>
            <br>
            <div *ngIf="universidadSeleccionada">
                <div class="universidad-card">
                    <div class="universidad-header">🎓 Universidad Recomendada</div>

                    <div class="universidad-body" style="height: 50vh;">
                        <h3 class="universidad-nombre">{{universidadSeleccionada.nombre}}</h3>

                        <div class="ubicacion">📍 {{universidadSeleccionada.departamento.nombre}}</div>

                        <div class="costo-box">
                            <span class="costo-label">Costo mensual</span>
                            <span class="costo">S/. {{universidadSeleccionada.costoMensualMinimo}} - S/.
                                {{universidadSeleccionada.costoMensualMaximo}}</span>
                        </div>

                        <button class="btn-ver">Ver más información</button>
                    </div>

                    <div class="card-footer">
                        <button class="btn btn-success w-100" (click)="agregarUniversidad()">Agregar</button>
                    </div>
                </div>
            </div>

            <div *ngIf="!universidadSeleccionada">
                <div class="universidad-vacia">
                    <div class="icono">🎓</div>
                    <h4>Ninguna universidad seleccionada</h4>
                    <p>Selecciona una universidad de la lista para visualizar su información, descripción y costos.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <br>
            <label class="form-label">Seleccione una beca</label>
            <select class="form-control" name="beca" id="beca" [(ngModel)]="becaSeleccionada">
                <option [ngValue]="null">--Seleccione una beca--</option>
                <option *ngFor="let be of becas$ | async" [ngValue]="be">{{be.nombre}}</option>
            </select>
            <br>
            <div class="beca-detalle-card" *ngIf="becaSeleccionada">
                <div class="beca-detalle-header">🎓 Beca Seleccionada</div>
                <div class="beca-detalle-body">
                    <h3 class="beca-titulo">{{becaSeleccionada.nombre}}</h3>
                    <p class="beca-descripcion">{{becaSeleccionada.descripcion}}</p>

                    <div class="info-beca">
                        <div class="info-item">
                            <span class="info-label">⏳ Duración</span>
                            <span class="info-value">
                                {{becaSeleccionada.duracion}} semestres
                            </span>
                        </div>

                        <div class="info-item">
                            <span class="info-label">💰 Beneficio</span>
                            <span class="info-value">
                                <ul class="lista">
                                    <li *ngFor="let beneficio of becaSeleccionada.beneficio.split(',')"
                                        [class.completo]="beneficio.trim().length > 30">
                                        ✅ {{ beneficio.trim() }}
                                    </li>
                                </ul>
                            </span>
                        </div>

                        <div class="info-item">
                            <span class="info-label">✅ Requisitos</span>
                            <span class="info-value">
                                <ul class="lista">
                                    <li *ngFor="let requisito of becaSeleccionada.requisito.split(',')">
                                        ✅ {{ requisito.trim() }}
                                    </li>
                                </ul>
                            </span>
                        </div>

                        <div class="info-item">
                            <span class="info-label">⚠ Restricciones</span>
                            <span class="info-value">
                                <ul class="lista">
                                    <li *ngFor="let restriccion of becaSeleccionada.restriccion.split(',')">
                                        ✅ {{ restriccion.trim() }}
                                    </li>
                                </ul>
                            </span>
                        </div>
                    </div>

                    <div class="acciones">
                        <button class="btn btn-success flex-fill" (click)="agregarBeca()">Agregar</button>
                        <a [href]="becaSeleccionada.url" target="_blank" class="btn btn-primary flex-fill">Ver
                            más</a>
                    </div>
                </div>
            </div>

            <!-- Estado vacío -->
            <div class="beca-vacia" *ngIf="!becaSeleccionada">
                <div class="icono">🎓</div>
                <h4>Ninguna beca seleccionada</h4>

                <p>Selecciona una beca de la lista para visualizar su información, beneficios y requisitos.</p>
            </div>
        </div>
    </div>

    <br><br>
    <h1 class="text-center">Relación</h1>
    <br>
    <div class="row">
        <div class="col" *ngIf="universidadAgregada" style="width: 100%;">
            <div class="universidad-card">
                <div class="universidad-header">🎓 Universidad Recomendada</div>

                <div class="universidad-body" style="height: 33vh;">
                    <h3 class="universidad-nombre">{{universidadAgregada.nombre}}</h3>

                    <div class="ubicacion">📍 {{universidadAgregada.departamento}}</div>

                    <div class="costo-box">
                        <span class="costo-label">Costo mensual</span>
                        <span class="costo">S/. {{universidadAgregada.costoMensualMinimo}} - S/.
                            {{universidadAgregada.costoMensualMaximo}}</span>
                    </div>
                </div>
            </div>
            <br>
        </div>

        <div class="beca-grid">
            <div class="beca-detalle-card" *ngFor="let item of becaAgregada; let i=index">
                <div class="beca-detalle-header">🎓 Beca Seleccionada</div>
                <div class="beca-detalle-body">
                    <h3 class="beca-titulo">{{item.nombre}}</h3>
                    <p class="beca-descripcion">{{item.descripcion}}</p>

                    <div class="info-beca">
                        <div class="info-item">
                            <span class="info-label">⏳ Duración</span>
                            <span class="info-value">
                                {{item.duracion}} semestres
                            </span>
                        </div>

                        <div class="info-item">
                            <span class="info-label">💰 Beneficio</span>
                            <span class="info-value">
                                <ul class="lista">
                                    <li *ngFor="let beneficio of item.beneficio.split(',')"
                                        [class.completo]="beneficio.trim().length > 30">
                                        ✅ {{ beneficio.trim() }}
                                    </li>
                                </ul>
                            </span>
                        </div>

                        <div class="info-item">
                            <span class="info-label">✅ Requisitos</span>
                            <span class="info-value">
                                <ul class="lista">
                                    <li *ngFor="let requisito of item.requisito.split(',')">
                                        ✅ {{ requisito.trim() }}
                                    </li>
                                </ul>
                            </span>
                        </div>

                        <div class="info-item">
                            <span class="info-label">⚠ Restricciones</span>
                            <span class="info-value">
                                <ul class="lista">
                                    <li *ngFor="let restriccion of item.restriccion.split(',')">
                                        ✅ {{ restriccion.trim() }}
                                    </li>
                                </ul>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12" *ngIf="!universidadAgregada || !becaAgregada">
            <div class="seleccion-vacia">
                <div class="icono">🎯</div>
                <h4>Sin resultados seleccionados</h4>
                <p>Selecciona al menos una universidad o una beca para visualizar la información recomendada.</p>
            </div>
        </div>
    </div>
    <br>
    <hr>
    <div class="d-flex justify-content-end">
        <button class="btn btn-success" (click)="guardarRelaciones()">Registrar</button>
    </div>
</div>