<div class="col-md-6 offset-md-3">
    <h3 class="text-center">Edición de Universidades</h3>
    <form (ngSubmit)="onSubmit()" #categoriaForm="ngForm">
        <div class="form-group">
            <label>Nombre : </label>
            <input type="text" class="form-control" id="nombre" [(ngModel)]="universidad.nombre" name="nombre" required
                pattern="^[A-Z][a-zA-ZáéíóúÁÉÍÓÚÑñ\s-]+$" minlength="4" maxlength="60" placeholder="Digite su nombre " #nombre="ngModel" />
            <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                <div *ngIf="nombre.errors?.['required']">
                    Digite su nombre por favor
                </div>
                <div *ngIf="nombre.errors?.['minlength']">
                    El nombre tiene que contener como mínimo 4 caracteres
                </div>
                <div *ngIf="nombre.errors?.['maxlength']">
                    El nombre tiene que tener como máximo 60 caracteres
                </div>
                <div *ngIf="nombre.errors?.['pattern']">
                    El nombre debe tener sólamente letras.
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>Departamento: </label>
            <select class="form-control" name="departamento" id="departamento" [(ngModel)]="universidad.departamento" required #departamento="ngModel" [compareWith]="compararDepartamento">
                <option [ngValue]="null">--Seleccione el departamento--</option>
                <option *ngFor="let depart of departamentos" [ngValue]="depart">{{depart.nombre}}</option>
            </select>
        </div>

        <div class="form-group">
            <label>Costo Mensual Mínimo: </label>
            <input type="number" min="1" class="form-control" id="costoMensualMinimo" [(ngModel)]="universidad.costoMensualMinimo" name="costoMensualMinimo" required #costoMensualMinimo="ngModel" />
        </div>

        <div class="form-group">
            <label>Costo Mensual Máximo: </label>
            <input type="number" min="1" class="form-control" id="costoMensualMaximo" [(ngModel)]="universidad.costoMensualMaximo" name="costoMensualMaximo" required costoMensualMaximo="ngModel">
        </div>

        <div class="form-group">
            <label>Tipo: </label>
            <select class="form-control" name="tipoUniversidad" id="tipoUniversidad" [(ngModel)]="universidad.tipoUniversidad" required #tipoUniversidad="ngModel" [compareWith]="compararTipoUniversidad">
                <option [ngValue]="null">--Seleccione el tipo de la universidad--</option>
                <option *ngFor="let tipo of tipoUniversidades" [ngValue]="tipo">{{tipo.nombre}}</option>
            </select>
        </div>

        <button class="btn btn-success" [disabled]="!categoriaForm.form.valid">Guardar</button>
    </form>
</div>