.carrera-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
}

.alpha-header {
  position: sticky;
  top: 0;
  background: #2319ac;
  color: white;
  padding: 10px;
  z-index: 1000;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.card {
  border-radius: 12px;
  transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card-header {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.badge {
  font-size: 0.85rem;
}

.menu-radial {
  display: flex;
  justify-content: end;
  position: relative;
  width: 250px;
  height: 150px;
  margin: auto;
}

.btn-central {
  margin-top: 50px;
  position: absolute;
  top: 10px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  z-index: 10;
}

.btn-opcion {
  margin-top: 50px;
  position: absolute;
  top: 10px;

  width: 50px;
  height: 50px;
  border-radius: 50%;

  opacity: 0;
  transition: all .4s ease;
}

.btn-opcion.activo {
  opacity: 1;
}

@media(max-width:1500px) {
  .carrera-nombre{
    height: 50px;
  }

  .carrera-descripcion{
    height: 170px;
  }

  .op1.activo {
    transform: translateX(90px);
  }

  .op2.activo {
    transform: translateX(180px);
  }

  .op3.activo {
    transform: translateX(270px);
  }

  .op4.activo {
    transform: translateX(360px);
  }
}

@media(max-width: 993px){
  .card-header{
    height:130px;
  }

  .carrera-nombre{
    height: 70px;
  }

  .carrera-descripcion{
    height: 290px;
  }
}