<div class="col-md-6 offset-md-3">
    <h3 class="text-center">Edición de Carreras</h3>
    <form (ngSubmit)="onSubmit()" #categoriaForm="ngForm">
        <div class="form-group">
            <label>Nombre : </label>
            <input type="text" class="form-control" id="nombre" [(ngModel)]="carrera.nombre" name="nombre" required
                pattern="^[A-Z][a-zA-ZáéíóúÁÉÍÓÚÑñ\s]+$" minlength="4" maxlength="60" placeholder="Digite su nombre " #nombre="ngModel" />
            <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                <div *ngIf="nombre.errors?.['required']">
                    Digite su nombre por favor
                </div>
                <div *ngIf="nombre.errors?.['minlength']">
                    El nombre tiene que contener como mínimo 4 caracteres
                </div>
                <div *ngIf="nombre.errors?.['maxlength']">
                    El nombre tiene que tener como máximo 60 caracteres
                </div>
                <div *ngIf="nombre.errors?.['pattern']">
                    El nombre debe tener sólamente letras.
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>Descripción: </label>
            <input type="text" class="form-control" id="descripcion" [(ngModel)]="carrera.descripcion" name="descripcion" required
                maxlength="200" #descripcion="ngModel">
            <div class="alert alert-danger" *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)">
                <div *ngIf="descripcion.errors?.['required']">
                    Digite la descripción por favor
                </div>
                <div *ngIf="descripcion.errors?.['maxlength']">
                    La descripción tiene que tener como máximo 200 carácteres
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>Duración: </label>
            <input type="number" class="form-control" id="duracion" min="1" [(ngModel)]="carrera.duracion" name="duracion" required #duracion="ngModel">
        </div>

        <div class="form-group">
            <label>Tipo: </label>
            <select class="form-control" name="tiposCarre" id="tiposCarre" [(ngModel)]="carrera.tipoCarrera" required (change)="actualizarTipoCarrera($event)">
                <option *ngFor="let ti of tipos" [ngValue]="ti">{{ti}}</option>
            </select>
            <input type="hidden" class="form-control" name="tipoCarrera" id="tipoCarrera" [(ngModel)]="carrera.tipoCarrera" required #tipoCarrera="ngModel">
        </div>

        <div class="form-group">
            <label>Universidad: </label>
            <select class="form-control" name="universidad" id="universidad"[(ngModel)]="universidadSeleccionada" required #universidad="ngModel" [compareWith]="compararUniversidad">
                <option *ngFor="let uni of universidades"[ngValue]=uni>{{uni.nombre}}</option>
            </select>
        </div>

        <button class="btn btn-success" [disabled]="!categoriaForm.form.valid">Guardar</button>
    </form>
</div>